<div class="card mb-5">
     <a href="/products/@Product.Handle">
        <img class="bd-placeholder-img card-img-top shadow" src="@Product.Image" />
    </a>
    <div class="card-body">
        <a href="/products/@Product.Handle" class="text-decoration-none text-reset">
            <h5 class="card-title mt-2"><strong>@Product.Name</strong></h5>
        </a>
        <p class="card-text mt-2 text-muted">@productViewModel.Headline</p>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                @if (Product.Available is not null)
                {
                    <small class="text-muted pa-0 mb-0">@Product.Available available</small>
                }
            </div>
            @if (!Product.HasVariants)
            {
                <div>
                    <PriceDisplay Price="@Product.Price.Amount" RegularPrice="@Product.RegularPrice?.Amount" Currency="@Product.Price.Currency" />
                </div>
            }
        </div>
    </div>
    <div class="btn-group mt-2">
        @if(Product.HasVariants) 
        {
            <a href="/products/@Product.Handle" class="btn btn-outline-secondary">Pick a variant</a>
        } 
        else 
        {
            @if(Product.IsCustomizable) 
            {
                <a href="/products/@Product.Handle" class="btn btn-outline-primary">Customize</a>
            } 
            else 
            {
                <LoadingButton Icon="shopping-basket" Variant="outline" OnClick="async () => await OnAddItemToCartClicked.InvokeAsync(Product)"></LoadingButton>
                @if(Product.Options.Any(/* x => x.IsRequired */)) 
                {
                    <a href="/products/@Product.Handle" class="btn btn-outline-secondary">Customize</a>
                }
            }
        }
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public SiteProductDto Product { get; set; } = default!;

    [Parameter]
    public EventCallback<SiteProductDto> OnAddItemToCartClicked { get; set; } = default!;
}