@page "/products/{productId}/edit"
@inject NavigationManager NavigationManager
@inject IProductsClient ProductsClient
@inject IProductGroupsClient ProductGroupsClient
@inject IAttributesClient AttributesClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using System.ComponentModel.DataAnnotations
@using YourBrand.Catalog.Products.Attributes
@implements IDisposable

<AppPageTitle>Product</AppPageTitle>

@if (product is null)
{
    <span>Loading...</span>
}
else
{
    <AppPageTitle>@product.Name (@product.Id)</AppPageTitle>

    <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-12">@product.Name</MudText>

    <MudButton StartIcon="@Icons.Material.Filled.Link" Color="Color.Primary" Link="@($"/products/{product.Id}")">
        View
        item
    </MudButton>

    <ProductAttributesView ProductId="@ProductId" ProductAttributes="product.Attributes.ToList().AsReadOnly()" />

    @if(product.HasVariants)
    {
        <MudTable @ref="productVariantsTable" Items="@productVariants" Class="mt-4" Dense="true" Hover="true" ReadOnly="false" CanCancelEdit="true" Filter="new Func<ProductDto,bool>(FilterProductVariantsFunc)"
                  @bind-SelectedItem="selectedProductVariant" SortLabel="Sort By">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Variants</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="ShowCreateVariantDialog" />
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(s=> OnSearch(s))" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProductDto, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
                @foreach (var attr in product.Attributes.OrderBy(x => x.Attribute.Id))
                {
                    <MudTh>@attr.Attribute.Name</MudTh>
                }
            </HeaderContent>
            <RowTemplate>
                <a href="@($"/products/{context.Id}/edit")" style="display:contents;">
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    @foreach (var attr in context.Attributes.OrderBy(x => x.Attribute.Id))
                    {
                        <MudTd DataLabel="@attr.Value?.Name">@attr.Value?.Name</MudTd>
                    }
                </a>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    }
} 