@page "/products/{productId}/edit"
@inject NavigationManager NavigationManager
@inject IProductsClient ProductsClient
@inject IProductGroupsClient ProductGroupsClient
@inject IAttributesClient AttributesClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using System.ComponentModel.DataAnnotations
@using YourBrand.Catalog.Products
@using YourBrand.Catalog.Products.Attributes
@implements IDisposable

<AppPageTitle>Product</AppPageTitle>

@if (product is null)
{
    <span>Loading...</span>
}
else
{
    <AppPageTitle>@product.Name (@product.Id)</AppPageTitle>

    <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-12">@product.Name</MudText>

    <MudButton StartIcon="@Icons.Material.Filled.Link" Color="Color.Primary" Link="@($"/products/{product.Id}")">
        View
        item
    </MudButton>

    <MudPaper Elevation="25" Class="pt-4 mb-8">
        <MudGrid>
            <MudItem md="6">
                <MudImage Src="@product.Image" />
            </MudItem>
            <MudItem md="6">

            </MudItem>
        </MudGrid>
    </MudPaper>

    <ProductAttributesView ProductId="@ProductId" HasVariants="product.HasVariants" ProductAttributes="product.Attributes.ToList().AsReadOnly()" />

    @if(product.HasVariants)
    {
        <ProductVariantsView ProductId="@ProductId" />
    }

    <ProductOptionsView ProductId="@ProductId" ProductOptions="product.Options.ToList().AsReadOnly()" />
} 