@page "/groups"
@page "/groups/{groupId}"
@page "/groups/{groupId}/{group2Id}"
@page "/groups/{groupId}/{group2Id}/{group3Id}"
@implements IDisposable
@inject IProductsClient ProductsClient
@inject PersistentComponentState ApplicationState
@inject NavigationManager NavigationManager
@inject AnalyticsService AnalyticsService
@inject RenderingContext RenderingContext

<SitePageTitle>@(productGroup?.Name ?? "Products")</SitePageTitle>

<div class="container">
    <h1 class="mb-4">@(productGroup?.Name ?? "Products")</h1>

    @if(subGroups is not null) 
    {
        <div class="mb-3">
            <a href="/groups/@GroupId">
                <h5 style="display: inline-block;">
                    <span class="badge rounded-pill text-bg-secondary me-2">All</span>
                </h5>
            </a>

            @foreach(var group in subGroups) 
            {
                var path = GetPath(group);

                <a href="@path">
                    <h5 style="display: inline-block;">
                        <span class="badge rounded-pill text-bg-@SelectedStyle(path) me-2">@group.Name</span>
                    </h5>
                </a>
            }
        </div>
    }

    @if (itemResults is not null)
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-md-5">
            @foreach (var item in itemResults.Items)
            {
                <div class="col card-group">
                    <Site.Components.Products.Product.ProductView Product="@item" />
                </div>
            }
        </div>

        <Pagination Class="mt-4" Page="@Page.GetValueOrDefault()" PageCount="@totalPages" PageChanged="OnPageChanged"
        Href="/blog" />
    }
    else 
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</div>