@page "/groups/{*Path}"
@implements IDisposable
@inject IProductsClient ProductsClient
@inject PersistentComponentState ApplicationState
@inject NavigationManager NavigationManager
@inject AnalyticsService AnalyticsService
@inject RenderingContext RenderingContext
@inject ICartClient CartClient

<SitePageTitle>@(productGroup?.Name ?? "Products")</SitePageTitle>

<div class="container">
    @if(subGroups is not null) 
    {
        var id = productGroup?.Parent?.Handle ?? productGroup?.Handle;
        var name = productGroup?.Parent?.Name ?? productGroup?.Name;
        var path = productGroup?.Parent?.Path ?? productGroup?.Path;

        <h1 class="mb-4">@(name ?? "Products")</h1>

        <div class="mb-3">
            <a href="/groups/@id">
                <h5 style="display: inline-block;">
                    <span class="badge rounded-pill text-bg-@SelectedStyle(path) me-2">All</span>
                </h5>
            </a>

            @foreach(var group in subGroups) 
            {
                <a @key="@group.GetHashCode()" href="/groups/@group.Path">
                    <h5 style="display: inline-block;">
                        <span class="badge rounded-pill text-bg-@SelectedStyle(group.Path) me-2">@group.Name</span>
                    </h5>
                </a>
            }
        </div>
    }

    @if (itemResults is not null)
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-md-5">
            @foreach (var item in itemResults.Items)
            {
                <div class="col card-group">
                    <ProductView @key="@item.GetHashCode()" Product="@item" OnAddItemToCartClicked="AddItemToCart" />
                </div>
            }
        </div>

        <Pagination Class="mt-4" Page="@Page.GetValueOrDefault()" PageCount="@totalPages" PageChanged="OnPageChanged"
        Href="/blog" />
    }
    else 
    {
        <Spinner />
    }
</div>