<div class="card mb-5">
     <a href="/products/@Product.Id">
        <img class="bd-placeholder-img card-img-top shadow" src="@Product.Image" />
    </a>
    <div class="card-body">
        <a href="/products/@Product.Id" class="text-decoration-none text-reset">
            <h5 class="card-title mt-2"><strong>@Product.Name</strong></h5>
        </a>
        <p class="card-text mt-2 text-muted">@Product.Description</p>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                @if (Product.Available is not null)
                {
                    <small class="text-muted pa-0 mb-0">@Product.Available available</small>
                }
            </div>
            @if (!Product.HasVariants)
            {
                <div>
                    <PriceDisplay Price="@Product.Price" CompareAtPrice="@Product.CompareAtPrice" />
                </div>
            }
        </div>
    </div>
    <div>
        <a href="/products/@Product.Id" class="d-block mt-3 mx-4 btn btn-primary btm-lg">Beställ</a>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public SiteProductDto Product { get; set; } = default!;
}