<div class="mb-4">
    <div class="card shadow">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="@Product.Image"
            style="object-fit: cover;" />
    </div>
    <div class="mt-4">
        <h5 class="mt-2"><strong>@Product.Name</strong></h5>
        <p class="mt-2 text-muted">@Product.Description</p>
        <div class="mt-4 d-flex justify-content-between align-items-center">
            <div class="btn-group">
                @if (Product.Available is not null)
                {
                    <p class="text-muted mt-2">@Product.Available available</p>
                }
            </div>
            @if (!Product.HasVariants)
            {
                <div>
                    <PriceDisplay Price="@Product.Price" CompareAtPrice="@Product.CompareAtPrice" />
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public SiteProductDto Product { get; set; } = default!;
}